.widget-compiler .content:first-child
	h1, h2, h3, h4, h5, h6
		&:first-child
			margin-top: 0

.content

	h1, h2, h3, h4, h5, h6, p
		margin-bottom: 1.5rem
		font-weight: normal

	img
		display: block
		max-width: 100%
		height: auto

	blockquote
		border-left: 0

	hr
		border-top: 2px solid $black
		width: 50px
		margin: 0 auto
