.widget-compiler .content:first-child
	h1, h2, h3, h4, h5, h6
		&:first-child
			margin-top: 0

.content

	h1, h2, h3, h4, h5, h6, p
		margin-bottom: 1.5rem
		font-weight: normal

	img
		display: inline-block
		max-width: 100%
		height: auto
		vertical-align: top

	blockquote
		border-left: 0

	hr
		border-top: 2px solid $text-muted
		width: 50px
		margin-left: auto
		margin-right: auto
