@import '~styles/variables'

body.theme-vash
	min-height: 100vh

	@media $media-md-up
		padding-top: $grid-gutter-width
		padding-bottom: $grid-gutter-width

	@import '../../../styles/_scaffolding'

	.content-container
		padding-top: ($grid-gutter-width / 2)
		padding-bottom: ($grid-gutter-width / 2)

	.media-bar

		&:first-child
			margin-top: 0

		@media $media-xs
			margin-bottom: $grid-gutter-width-xs
			margin-left: -($grid-gutter-width-xs / 2)
			margin-right: -($grid-gutter-width-xs / 2)
			background-color: transparent

		@media $media-sm-up
			margin: ($grid-gutter-width / 2)
			margin-left: -($grid-gutter-width / 2)
			margin-right: -($grid-gutter-width / 2)
			padding: 0
			background-color: transparent
			overflow: visible

			@media $media-md
				margin-left: -150px
				margin-right: -150px

			@media $media-lg
				margin-left: -200px
				margin-right: -200px

			&-items
				white-space: initial

			&-item
				width: 50% !important
				height: auto !important
				margin: 0 !important
				padding: ($grid-gutter-width / 2) !important
				background-color: transparent

				&-wrapper
					opacity: 1

				a
					transition: all 350ms $strong-ease-out

					&::before
					&::after
						display: none

	.widget-compiler-widget-game-list

		@media $media-sm-up
			margin-left: -($grid-gutter-width / 2)
			margin-right: -($grid-gutter-width / 2)

		@media $media-md-up
			margin-left: -200px
			margin-right: -200px
