@import '~styles/variables'
@import '../../../../lib/gj-lib-client/stylus/animation/easing'

body
	min-height: 100vh

#theme-vash

	.content

		h1, h2, h3, h4, h5, h6, p
			margin-bottom: 1.5rem
			font-weight: normal

		img
			display: block
			max-width: 100%
			height: auto

	.media-bar
		margin-bottom: $line-height-computed
		padding: 0
		background-color: transparent
		margin: 0 -20px $line-height-computed -20px
		overflow: visible

		&-items
			white-space: initial

		&-item
			width: 50% !important
			height: auto !important
			margin: 0 !important
			padding: 0 20px 20px 20px !important
			background-color: transparent

			a
				transition: all 350ms $strong-ease-out

				&::before
				&::after
					display: none
