@import '~styles/variables'
@import '../../../../lib/gj-lib-client/stylus/animation/easing'

body
	padding-top: $grid-gutter-width
	padding-bottom: $grid-gutter-width
	min-height: 100vh

#theme-vash

	@import '../../../styles/_scaffolding'

	.media-bar
		margin: ($grid-gutter-width / 2)
		margin-left: -200px
		margin-right: -200px
		padding: 0
		background-color: transparent
		overflow: visible

		&-items
			white-space: initial

		&-item
			width: 50% !important
			height: auto !important
			margin: 0 !important
			padding: ($grid-gutter-width / 2) !important
			background-color: transparent

			&-wrapper
				opacity: 1

			a
				transition: all 350ms $strong-ease-out

				&::before
				&::after
					display: none
