@import '../../../bower-lib/bootstrap-stylus/stylus/variables'
@import '../../../bower-lib/bootstrap-stylus/stylus/mixins'

@keyframes blink
	80%
		opacity: 0

html, body
	background-color: black
	background-image: url(/app/themes/redux/star-background.gif)

body
	padding: 30px

.content
	font-family: "Comic Sans MS", "Comic Sans", cursive
	color: yellow
	font-size: 16px
	text-align: center

	h1, h2, h3, h4, h5, h6, p
		margin-bottom: 1.5rem

	h1, h2, h3, h4, h5, h6
		color: red
		font-family: "Comic Sans MS", "Comic Sans", Arial, Helvetica, sans-serif

	a
	a:hover
		color: blue
		animation: blink 1s steps(1,end) 0s infinite
		transform: translateZ(0);

	hr
		border-bottom: 5px ridge

	blockquote
		border: 0

.frameset
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0

.frame-content
.frame-bottom
	position: absolute
	right: 0
	left: 0
	overflow: auto

.frame-bottom
	bottom: 0
	height: 190px
	border-top: 5px ridge

.frame-content
	top: 0
	bottom: 0
	overflow-x: hidden

	.has-media-items &
		bottom: 190px
