<!--<img style="min-width: 100%" class="img-responsive" src="https://dl.dropboxusercontent.com/u/71978/Capture.PNG" alt="">-->

<!--<gj-media-bar
	class="gj"
	*ngIf="mediaItems.length"
	[mediaItems]="mediaItems"
	>
</gj-media-bar>-->

testing this out, okay?
<br>

<div class="container content">
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<div
				style="columns: 2"
				[gjWidgetCompilerBind]="game.description_compiled"
				>
			</div>
		</div>
	</div>
</div>

<br>

<!--<div class="container" *ngIf="packages.length">
	<div class="row">
		<div class="col-md-8 offset-md-2">

			<div class="gj" *ngIf="packages.length">
				<gj-game-package-card
					*ngFor="let package of packages"
					[game]="game"
					[sellable]="package._sellable"
					[gamePackage]="package"
					[gameReleases]="package._releases"
					[gameBuilds]="package._builds"
					>
				</gj-game-package-card>
			</div>

		</div>
	</div>
</div>-->
