$gj-exclude-common-code = true
$gj-exclude-common-forms = true
$gj-exclude-common-input-groups = true
$gj-exclude-common-tables = true
$gj-exclude-common-utilities = true

@import '~styles/variables'
@import '../lib/gj-lib-client/stylus/common'
@import '../lib/gj-lib-client/components/jolticons/jolticons'
@import '../lib/gj-lib-client/components/button/button'

.card
	border: 1px solid $gray
