@import '~styles/variables'

body.theme-gamecamp
	min-height: 100vh
	padding-bottom: ($grid-gutter-width / 2)

	@media $media-md-up
		padding-top: ($grid-gutter-width / 2)

	@import '../../../styles/_scaffolding'

	.content-container
		padding-top: ($grid-gutter-width / 2)
		padding-bottom: ($grid-gutter-width / 2)

	.widget-compiler-widget-game-packages
		margin: 0

	.gamecamp-media-bar
		.media-bar
			background-color: transparent

			@media $media-mobile
				margin-bottom: ($grid-gutter-width / 2)

			@media $media-md-up
				.-items
					height: auto !important
					padding: 0
					white-space: initial

				.media-bar-item
					margin: 0
					margin-bottom: ($grid-gutter-width / 2)
					width: 100% !important
					height: auto !important
					background-color: transparent
