// Set up the environment.
// @import '../../../lib/gj-lib-client/stylus/common/functions'
// @import '../../../lib/gj-lib-client/stylus/common/variables'
// @import '../../../app/styles/variables'

@import '../../../bower-lib/bootstrap-stylus/stylus/variables'
@import '../../../bower-lib/bootstrap-stylus/stylus/mixins'

// html, body
// 	background-color: #210002

.content
	// color: #ffaf00
	font-size: 18px

	h1, h2, h3, h4, h5, h6, p
		margin-bottom: 1.5rem
